<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function handleClick(continentId) {
            fetch(`/countries/${continentId}`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('country-list').innerHTML = html;
                });
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/admin">Admin</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <h1>Trip Planner</h1>
    </header>
    <main>
        <section id="button-click">
            <h2>Select the continent to proceed:</h2>
            <div class="continent-list">
                {% for continent in continents %}
                    <div class="continent-item" onclick="handleClick({{ continent[0] }})" style="cursor: pointer;">
                        <img src="{{ url_for('static', filename=continent[2]) }}" alt="{{ continent[1] }}" class="continent-image">
                        <p class="continent-name">{{ continent[1] }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section id="country-list">
            <h2></h2>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
</html>